:root {
  --Primary: #4968ff;
  --PrimaryBlack: #252525;
  --LightBluishGray: #eff2f6;
  --Ash: #676767;
  --Secondary: #fc6b3f;
  --AshBorder: #dadada;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
